* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-padding-top: 60px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 60px 20px 0;
}

.header {
  height: 50px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header .navbar ul {
  list-style: none;
  display: flex;
}

.header .navbar ul li:not(:last-child) {
  margin-right: 30px;
}

.header .navbar a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header .navbar a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 40px;
}

section hr {
  margin-bottom: 20px;
}

.title-section {
  font-size: 22px;
  text-transform: uppercase;
}

#blog-article .top img {
  width: 100%;
  margin-bottom: 20px;
}

#blog-article .top h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

#blog-article .content {
  text-align: center;
}

#blog-article .content p {
  margin-bottom: 20px;
  text-align: justify;
}

#blog-article .content .images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}

#blog-article .content .images img {
  width: 90%;
  height: 300px;
  object-fit: cover;
}

footer {
  background-color: #333;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .desktop-img {
    display: none;
  }
}

@media (min-width: 641px) {
  .mobile-img {
    display: none;
  }

  #blog-article .top img {
    margin-bottom: 30px;
  }

  #blog-article .top h3 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  #blog-article .content .images img {
    width: 40%;
    height: auto;
  }
}
