.footer {
  background-color: var(--color-gris-claro);
  padding: 4rem 0;
  margin-top: auto;
}

.footer-logo {
  display: block;
  margin-bottom: 1rem;
}

.footer-address {
  font-family: 'Roboto';
  color: var(--color-gris);
  font-size: 15px;
  line-height: 1.5;
  margin-top: 1rem;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-link {
  color: var(--color-gris);
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 15px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: var(--color-boton);
}

@media (max-width: 768px) {
  .footer-left {
    margin-bottom: 2rem;
  }
  
  .footer-links {
    margin-top: 1rem;
  }
}