.project-card {
  background-color: white;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 70%; /* Fixed aspect ratio: 7:10 */
  overflow: hidden;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card .card-body {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.project-card .card-title {
  font-size: 1.5rem;
  color: var(--color-gris-oscuro);
  font-weight: 600;
}

.project-card .card-text {
  color: var(--color-gris-oscuro);
  opacity: 0.8;
  flex-grow: 1;
} 